.viewSection.aboutUs{
    position: relative;
    overflow: hidden;
    background-color: $bright;
    @include flexCenterSA(row);
    @media (max-width:1024px){
        flex-direction: column;
        background-color: $dark;
        color:$bright;
        }
    
}

.aboutUs__decorationTop{
    width: 150vh;
    height: 150vh;
    background-color: $dark;
    position:absolute;
    transform: rotate(45deg);
    top:-75%;
    left:40%;
    z-index: 1;
    @media (max-width:1024px){
        display: none;
    }
}
.aboutUs__article{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:25vw;
    height:50vh;
    text-align: justify;
    >.article__title{
        font-size: 4rem;
    }
    @media (max-width:1024px){
        width: 95vw;
        >.article__title{
            font-size: 4rem;
            color:$bright;
            align-self: center;
        }
        


    }
}

.aboutUs__laptop{
    width:30vw;
    height:30vw;
    position: relative;
    
    >img{
        top:50%;
        left:50%;
        position:absolute;
        z-index: 10;
        transform: translate(-50%,-50%)

    }
    @media (max-width:1024px){
        width: 100%;
        >img{
            width: 120%;
        }

    }
}
.article__button{
    @include readMoreButton;
    @media (max-width:1024px){
        align-self: center;
    }
}