.viewSection.home{
    position: relative;
    background-image: url("../images/background.png") ;
    background-size:cover, cover;
    background-position:center,center;
    background-repeat: no-repeat,no-repeat;
    background-attachment:fixed,fixed;
    overflow: hidden;
 
}


.home__title{
   position: absolute;
   top:50%;
   left:45%;
   transform: translate(-50%,-50%);
   text-shadow: 10px 10px 20px rgba(0,0,0,0.75);
   z-index: 5;
   color:#fff;
   mix-blend-mode:darken;
   width: 150%;
   height: 100%;
   background-color: rgba(255,0,0,0.9);
   @include flexCenter(column);
   >p{
    font-size: 12rem;
    line-height: 75%;
    &:last-of-type{
        font-size: 6rem;
        line-height: 80%;
    }
   }
   

   @media (max-width:1024px){
        width: 150%;
        left:50%;
        top:25%;
        height: 250%;
        >p{
            font-size: 5rem}
        }
    @media (max-width:768px){
        >p{
            font-size: 5rem;
            line-height: 75%;
            &:last-of-type{
                font-size: 2.5rem;
                line-height: 80%;
            }
           }
    }
}
.home__model{
    position: absolute;
    width: 65%;
    z-index: 10;
    top:0%;
    left:50%;
    transition:1s;
    @media (max-width:1200px){
        width: 80%;
    }
    @media (max-width:1024px){
        width: 70%;
        left:30%;
        top:20%;}
    
    
    @media (max-width:992px){
            width: 70%;
            left:30%;
            top:30%;
        }
    @media (max-width:768px){
        width: 80%;
        left:10%;
    }


}



.home__button{
    
    background-color: $bright;
    color:$dark;
    font-weight: 700;
    width: 150px;
    height:40px;
    border:none;
    border-radius:20px;
    position: absolute;
    left:30%;
    top:85%;
    z-index: 10;
}


