.viewSection.services{
    position: relative;
    overflow: hidden;
    background-color: $secondBright;
    min-height: 100vh;
    @media (max-width:1200px){
        height: auto;
    }
    @media (max-width:768px){
       
        background: linear-gradient(135deg, $bright 0%, $bright 50%, $contrast 50%, $contrast 100%);
    }

}

.services__decoration{
    position:absolute;
    background-color: $contrast;
    width: 100vh;
    height: 100vh;
    transform: rotate(45deg);
    left:-100vh;
    @media (max-width:768px){
        display: none;
    }

}

.services__title{
    margin-top: 15vh;
    font-size: 4rem;
    text-align: center;
    color:$dark;
    @media (max-width:1024px){
       
    }
    @media (max-width:768px){
        color:$dark;
    }
}

.services__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    width: 70vw;
    margin-top:5vh; 
    margin-left: auto;
    margin-right: auto;
    @media (max-width:1200px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
    }
    @media (max-width:768px){
        width: 95vw;
        margin-bottom: 5vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        color:$dark;
        
    }

    >.singleService{
        @include flexCenter(row);
        align-self: baseline;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        >.singleService__description{
            width: 80%;
        }
        @media (max-width:1200px){
            // color:$medium;
        }
        @media (max-width:1024px){
            flex-direction: column;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.singleService__image{
    @include flexCenter(row);
    align-self: baseline;
    background-color: $contrast;
    width: 50px;
    height: 50px;
    border-radius:100%;
    margin-right: 2%;
    color: $bright;
   
    >i{
        font-size: 2rem;
    }
    @media (max-width:1024px){
        align-self: center;
    }
    @media (max-width:768px){
        
        border:1px solid $bright;
    }
    
}
.singleService__title{
    font-size: 2rem;
}