.viewSection.team{
    background-color: $secondBright;
    @include flexCenter(column);
    
}
.team__title{
   margin: 5vh;
    text-align: center;
    font-size: 4rem;
}


.team__carousel{
    @include flexCenterSB(row);
    position: relative;
    width: 90vw;
    height: 70vh;
}

.carousel__Element{
    position: absolute;
    width: 15vw;
    height: 15vw;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    transform: rotate(-45deg);
    background-color: $bright;
    left:50%;
    top:50%;
    @include flexCenter(row);
    transition:1s;

    >img{
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        width:120%;
        height: 120%;
        transform:rotate(45deg);
    }
    &.center{
        transform:perspective(900px) translate3d(-35%,-40%,300px) rotate(-45deg);
        z-index: 10;
        
    }

    &.right{
        transform:perspective(1000px) translate3d(100%,-50%,0px) rotate(-45deg);
        z-index: 5;
        >img{
            filter:blur(1px)
        }
    }
    &.left{
        transform: perspective(1000px) translate3d(-200%,-50%,0px) rotate(-45deg);;
        z-index: 2;
        >img{
            filter:blur(1px)
        }
    }
    >.workerLabel{
        position: absolute;
        width: 90%;
        height: 15%;
        background-color: $dark;
        clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
        font-size: 1.2rem;
        color:$bright;
        @include flexCenter(row);
        transform: rotate(45deg);
        top:80%;
        left:-35%;
      
    }
    >.functionLabel{
        clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
        position: absolute;
        transform: rotate(45deg) scale(0);
        width: 0%;
        height: 0%;
        color:$bright;
        font-size: 0.7rem;
        transition:height 1s;
        @include flexCenter(row);
    }
    &.center>.functionLabel{
            width: 60%;
            height: 10%;
            background-color:$contrast;
            transform: rotate(45deg) scale(1);
            top:93%;
            left:-25%;
        }

}

.carousel__button{
    background-color: $dark;
    width: 50px;
    height: 100px;
    &.carouselElement__button--next{
        clip-path: polygon(0 0, 0% 100%, 100% 49%);

    }
    &.carouselElement__button--prev{
        clip-path: polygon(0 50%, 100% 100%, 100% 0);

    }

}
@media (max-width:1024px){
    .team__title{
        margin-top:10vh;
    }
    .team__carousel{
        height: 80vh;
    }
    .carousel__Element{
        
        width: 30vw;
        height: 30vw;
        &.center{
            transform:perspective(900px) translate3d(-35%,-100%,300px) rotate(-45deg);}
        &.right{
            transform:perspective(1000px) translate3d(50%,-50%,0px) rotate(-45deg);}
        &.left{
            transform: perspective(1000px) translate3d(-150%,-50%,0px) rotate(-45deg);}
        
            >.workerLabel{
               font-size: 0.8rem;
            }
            >.functionLabel{
                font-size: 0.5rem;
            }
        
        }
         
    .carousel__button{
        align-self: flex-start;
    }
    }