$dark:#171717;
$medium:rgb(111, 111, 110);
$bright:#ffffff;
$secondBright:#f5f5f5;
$contrast:#bc2e3a;


@mixin flexCenterSA($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-around;
    align-items: center;
}

@mixin flexCenterSB($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}
@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin readMoreButton {
    color:$bright;
    background-color: $contrast;
    width: 120px;
    height: 40px;
    border-radius:20px;
    border:none
}